# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.sqlite3-journal

# Logs
*.log
npm-debug.log*

# Node
node_modules/
frontend/node_modules/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/
.DS_Store
